@media only screen and (max-width: 375px) {
  .text-bold {
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
  }
  .text-large {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Raleway',sans-serif;
  }
  .text-medium {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
  }
  .btn {
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    outline: none;
    background-color: #339ecc;
    color: white;
    cursor: pointer;
  }
  body {
    color: white;
    margin: 0px;
  }
  .text-large {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Raleway',sans-serif;
  }
  .text-medium {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
  }
  .btn {
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    outline: none;
    background-color: #339ecc;
    color: white;
    cursor: pointer;
  }
  nav {
    display: flex;
    flex-direction: row;
    background-color: #1c2431;
    margin: 0px;
    padding-right: 10px;
    justify-content: space-between;
  }
  nav img {
    margin-left: 10px;
    padding-top: 20px;
    padding-right: 0px;
    width: 20%;
    object-fit: contain;
    height: auto;
  }
  nav .pages {
    padding-right: 0px;
    padding-top: 10px;
    display: flex;
    float: right;
  }
  nav .pages li {
    font-family: 'Raleway', sans-serif;
    text-align: right;
    list-style: none;
    padding-left: 5px;
    padding-right: 0px;
    cursor: pointer;
  }
  nav .pages li:hover, nav .pages li:active {
    border-bottom: 1px solid white;
  }
  .showcase-top {
    background-color: #1c2431;
    padding-top: 30px;
    margin-bottom: 0px;
  }
  .showcase-top .back {
    background-image: url("/images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .showcase-top .back .illustration {
    padding: 20px;
  }
  .showcase-top .back .illustration img {
    object-fit: contain;
    width: 100%;
  }
  .showcase-top .back .heading-1 {
    margin-bottom: 0px;
  }
  .showcase-top .dark {
    background-color: #181f2a;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }
  .showcase-top .dark .intro-text {
    margin-top: 0px;
    padding-top: 40px;
  }
  .showcase-top .dark .flex-in {
    margin-bottom: 0px;
  }
  .showcase-top .dark .flex-in .p5 {
    margin-bottom: 0px;
  }
  .showcase-top .dark .flex-in .p5 .text-medium {
    margin-bottom: 0px;
  }
  .showcase-mid {
    margin-top: 0px;
    background-color: #181f2a;
  }
  .showcase-mid .productive {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
  .showcase-mid .productive img {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    object-fit: contain;
  }
  .showcase-mid .productive .text {
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .showcase-mid .productive .text .text-medium {
    font-family: 'Open-sans',sans-serif;
    text-align: left;
    font-size: 11px;
    padding-right: 18px;
    padding-left: 18px;
    font-weight: 400;
  }
  .showcase-mid .productive .text .text-large {
    font-family: 'Raleway',sans-serif;
  }
  .showcase-mid .productive .text .go-button {
    font-family: 'Raleway';
    font-size: 14px;
    display: flex;
    margin-left: 1rem;
    margin-right: 6rem;
    border-bottom: 1px solid #65e2d9;
  }
  .showcase-mid .testemonials .quote {
    padding-top: 30px;
    padding-left: 30px;
    width: 10%;
  }
  .showcase-mid .testemonials .testemonial-cards {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Open-sans',sans-serif;
    font-size: 12px;
    padding-bottom: 4rem;
  }
  .showcase-mid .testemonials .testemonial-cards .card {
    background-color: #202a3c;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .showcase-mid .testemonials .testemonial-cards .card .avatar {
    display: flex;
  }
  .showcase-mid .testemonials .testemonial-cards .card .avatar img {
    margin-top: 15px;
    margin-right: 8px;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .showcase-mid .testemonials .testemonial-cards .card .avatar .des .name {
    padding-top: 10px;
    margin-bottom: 0px;
  }
  .showcase-mid .testemonials .testemonial-cards .card .avatar .des .post {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 10px;
    font-weight: 400;
  }
  .showcase-mid {
    background-color: #181f2a;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .showcase-mid .large-card {
    padding-bottom: 0px;
    background-color: #202a3c;
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .showcase-mid .large-card p {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .showcase-mid .large-card .t {
    padding-right: 10px;
    padding-left: 10px;
  }
  .d {
    background-color: #0b1523;
  }
  .inputs {
    padding-top: 20px;
    margin-top: 0px;
    background-color: #202a3c;
    margin-left: 21px;
    margin-top: 0px;
    margin-right: 21px;
    margin-bottom: 0px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 0px;
  }
  .inputs input {
    margin-top: 0px;
    padding-top: 0px;
    border-radius: 10px;
    border: none;
    outline: transparent;
    padding: 3px;
  }
  footer {
    background-color: #0b1523;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  footer .det {
    display: flex;
  }
  footer .det .location-icon {
    margin-top: 0px;
    padding-bottom: 10px;
    height: auto;
    object-fit: contain;
  }
  footer .phone {
    display: flex;
  }
  footer .phone .phone-icon {
    object-fit: contain;
    padding-right: 10px;
  }
  footer .email {
    display: flex;
  }
  footer .email .email-icon {
    object-fit: contain;
    padding-right: 10px;
  }
  footer .contact {
    padding-bottom: 20px;
  }
  footer .pages > li {
    font-family: 'Open-sans',sans-serif;
    list-style: none;
    padding-top: 10px;
  }
  footer .social {
    padding-top: 60px;
    color: white;
    display: flex;
    justify-content: center;
    size: 100%;
  }
  footer .social div {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 769px) {
  body {
    margin: 0px;
  }
  nav {
    background-color: #1c2431;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 30px;
  }
  nav ul li {
    display: inline;
    color: #fff;
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    padding-left: 16px;
  }
  .showcase-top {
    display: flex;
    flex-direction: column;
    background-color: #1c2431;
    padding-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .showcase-top .back {
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .showcase-top .back .illustration {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }
  .showcase-top .back .heading-1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Raleway',sans-serif;
    padding-left: 25rem;
    padding-right: 25rem;
    color: #fff;
    margin-bottom: 40px;
  }
  .showcase-top .dark {
    background-image: url("/images/bg-curvy-desktop.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }
  .showcase-top .dark .intro-text {
    margin-top: 0px;
    padding-top: 40px;
    font-size: 1.3rem;
    opacity: 808;
    color: #fff;
    margin-left: 28rem;
    margin-right: 28rem;
    padding: 10px;
    padding-bottom: 8rem;
  }
  .showcase-top .dark .btn-mid {
    width: 18%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #339ecc;
    color: white;
    cursor: pointer;
  }
  .showcase-top .dark .flex-in {
    margin-top: 10rem;
    background-color: #181f2a;
    display: grid;
    padding-left: 70px;
    padding-right: 70px;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
  }
  .showcase-top .dark .flex-in .p {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .showcase-top .dark .flex-in .p img {
    object-fit: contain;
  }
  .showcase-top .dark .flex-in .p .text-medium {
    font-size: 20px;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
    color: #fff;
    font-family: 'Raleway',sans-serif;
    opacity: 80%;
  }
  .showcase-top .dark .flex-in .p .text-bold {
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
    color: #fff;
  }
  .showcase-mid {
    padding-top: 6rem;
    background-color: #181f2a;
  }
  .showcase-mid .productive {
    display: flex;
    justify-content: space-between;
    padding-right: 8rem;
    padding-left: 8rem;
  }
  .showcase-mid .productive .text {
    padding: 3rem;
  }
  .showcase-mid .productive .text .text-large {
    font-size: 3.6rem;
    width: 70%;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 700;
  }
  .showcase-mid .productive .text .text-medium {
    font-size: 22px;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
  }
  .showcase-mid .productive .text .go-button {
    color: #fff;
    display: flex;
    border-bottom: #fff 1px solid;
    margin-right: 33em;
  }
  .showcase-mid .productive .text .go-button .go {
    font-family: 'Raleway';
    padding-right: 10px;
    color: #65e2d9;
  }
  .showcase-mid .productive .text .go-button img {
    object-fit: contain;
  }
  .showcase-mid .testemonials .quote {
    padding-left: 8.1rem;
    padding-bottom: 0px;
  }
  .showcase-mid .testemonials .testemonial-cards {
    display: flex;
    margin-left: 8rem;
    margin-right: 8rem;
    font-family: 'Open-sans',sans-serif;
    font-size: 18px;
    padding-bottom: 4rem;
    color: #fff;
  }
  .showcase-mid .testemonials .testemonial-cards .card {
    background-color: #202a3c;
    padding: 16px;
    border-radius: 8px;
    margin: 20px;
  }
  .showcase-mid .testemonials .testemonial-cards .avatar {
    display: flex;
  }
  .showcase-mid .testemonials .testemonial-cards .avatar img {
    margin-top: 15px;
    margin-right: 8px;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .showcase-mid .testemonials .testemonial-cards .avatar .des .name {
    padding-top: 10px;
    margin-bottom: 0px;
  }
  .showcase-mid .testemonials .testemonial-cards .avatar .des .post {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 10px;
    font-weight: 400;
  }
  .showcase-mid .large-card {
    text-align: center;
    background-color: #1c2431;
    margin-top: 10px;
    padding-top: 30px;
    margin-left: 20rem;
    margin-right: 20rem;
    font-family: 'Raleway';
    margin-bottom: 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .showcase-mid .large-card .text-large {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
  }
  .showcase-mid .large-card .text-medium {
    color: #fff;
    font-size: 20px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 0px;
  }
  .d {
    margin-top: 0px;
    background-color: #0b1523;
    padding-bottom: 10rem;
  }
  .d .inputs {
    margin-left: 20rem;
    margin-right: 20rem;
    background-color: #1c2431;
    display: flex;
    padding-top: 20px;
    margin-top: 0px;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .d .inputs .email {
    font-size: 1rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 12rem;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
  }
  .d .inputs .btn {
    margin-right: 12rem;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #65e2d9;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  footer {
    background-color: #0b1523;
    padding-left: 4rem;
    padding-right: 4rem;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
    font-family: 'Raleway',sans-serif;
  }
  footer .location .det {
    display: flex;
  }
  footer .location .det .location-icon {
    margin-top: 0px;
    padding-bottom: 10px;
    height: auto;
    object-fit: contain;
  }
  footer .location .det p {
    padding-left: 10px;
    color: #fff;
  }
  footer .contact {
    padding-left: 20px;
    padding-top: 60px;
  }
  footer .contact div {
    display: flex;
    color: #fff;
  }
  footer .contact div img {
    object-fit: contain;
    padding-right: 10px;
  }
  footer .pages {
    list-style: none;
    color: #fff;
    padding-top: 60px;
  }
  footer .pages li {
    padding-top: 5px;
  }
  footer .social {
    padding-top: 60px;
    color: white;
    display: flex;
    justify-content: center;
    size: 100%;
  }
  footer .social div {
    margin-left: 30px;
  }
}
