
@media only screen and (max-width:  375px) {
     //Text
.text-bold{
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
}
 .text-large{
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Raleway',sans-serif;
    
}
.text-medium{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

//Button
.btn{
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    outline: none;
    background-color: hsl(198, 60%, 50%);
    color: white;
    cursor: pointer;
}
    body {
      color: white;
      margin: 0px;
    }

    //Text
    .text-large{
        text-align: center;
        font-size: 1.3rem;
        font-family: 'Raleway',sans-serif;
        
    }
    .text-medium{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
    }

    //Button
    .btn{
        margin-top: 20px;
        margin-bottom: 60px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        outline: none;
        background-color: hsl(198, 60%, 50%);
        color: white;
        cursor: pointer;
    }

    nav{
        display: flex;
        flex-direction: row;
        background-color: hsl(217, 28%, 15%);
        margin: 0px;
        padding-right: 10px;
        justify-content: space-between;
        
        img{
            margin-left: 10px;
            padding-top: 20px;
            padding-right: 0px;
            width: 20%;
            object-fit: contain;
            height: auto;
        }
            .pages{
                padding-right: 0px;
                padding-top: 10px;
               display: flex;
               float: right;
                li{
                    font-family: 'Raleway', sans-serif;
                    text-align: right;
                    list-style: none;
                    padding-left: 5px;
                    padding-right: 0px;
                    cursor: pointer;

                }
                li:hover,li:active{
                    border-bottom: 1px solid white;
                }
            }
    }

    .showcase-top{
        background-color: hsl(217, 28%, 15%);
        padding-top: 30px;
        margin-bottom: 0px;
        .back{
            background-image: url("/images/bg-curvy-mobile.svg");
        background-repeat: no-repeat;
        background-position: bottom;

        .illustration{
            padding: 20px;
            img{
                object-fit: contain;
                width: 100%;
            }
        }
        .heading-1{
            margin-bottom: 0px;
        }
        }
       
        .dark{
            background-color: hsl(218, 28%, 13%);
            padding-left: 0px;
            padding-right: 0px;
            text-align: center;

            .intro-text{
                margin-top: 0px;
                padding-top: 40px; 

            }

            .flex-in{
                margin-bottom: 0px;

                .p5{
                    margin-bottom: 0px;
                    .text-medium{
                        margin-bottom: 0px;
                    }
                }
            }

        }

    }

    .showcase-mid{
        margin-top: 0px;
        background-color:  hsl(218, 28%, 13%);

        .productive{
            margin-top: 0px;
            display: flex;
            flex-direction: column;

            img{
                padding-left: 8px;
                padding-right: 8px;
                padding-bottom: 0px;
                margin-bottom: 0px;
                margin-top: 0px;
                object-fit: contain;
            }
            .text{
                padding-top: 0px;
                margin-top: 0px;
                padding-left: 10px;
                padding-right: 10px;
                
                .text-medium{
                    font-family: 'Open-sans',sans-serif;
                text-align: left;
                font-size: 11px;
                padding-right: 18px;
                padding-left: 18px;
                font-weight: 400;
                }
                .text-large{
                    font-family: 'Raleway',sans-serif;
                }

                .go-button{
                    font-family: 'Raleway';
                    font-size: 14px;
                    display: flex;
                    margin-left: 1rem;
                    margin-right: 6rem;
                    border-bottom: 1px solid hsl(176, 68%, 64%);
                    
                }
            }


        }

        .testemonials{
            .quote{
                padding-top: 30px;
                padding-left: 30px;
                width: 10%;
                
            }
            .testemonial-cards{
                margin-left: 20px;
                margin-right: 20px;
                font-family: 'Open-sans',sans-serif;
                font-size: 12px;
                padding-bottom: 4rem;
               .card{
                background-color:  hsl(219, 30%, 18%);
                padding: 16px;
                border-radius: 8px;
                margin-bottom: 20px;

                .avatar{
                    display: flex;
                    img{
                        margin-top: 15px;
                        margin-right: 8px;
                        vertical-align: middle;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                    .des{
                        .name{
                            padding-top: 10px;
                            margin-bottom: 0px;
                        }
                        .post{
                            margin-top: 0px;
                            padding-top: 0px;
                            font-size: 10px;
                            font-weight: 400;
                        }
                    }
                }
               }
            }
        }
    }

    .showcase-mid{
        background-color:  hsl(218, 28%, 13%);
        padding-top: 10px;
    
       padding-bottom: 0px;
       margin-bottom: 0px;
        
        .large-card{
            padding-bottom: 0px;
            background-color: hsl(219, 30%, 18%);
            margin-left: 20px;
            margin-top: 0px;
            margin-right: 20px;
            margin-bottom: 0px;
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
           z-index: 1;
           border-top-left-radius: 8px;
           border-top-right-radius: 8px;
            // display: inline-block;
           p{
               padding-bottom: 0px;
               margin-bottom: 0px;
           }
           .t{
               padding-right: 10px;
               padding-left: 10px;
           }
        }
    }
    .d{
        background-color:  hsl(216, 53%, 9%);
       
    }
    .inputs{
        padding-top: 20px;
        margin-top: 0px;
        background-color: hsl(219, 30%, 18%);
        margin-left: 21px;
        margin-top: 0px;
        margin-right: 21px;
        margin-bottom: 0px;
        text-align: center;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-bottom: 0px;
        
        input{
            margin-top: 0px;
            padding-top: 0px;
            border-radius: 10px;
            border: none;
            outline: transparent;
            padding: 3px;
            

        }
    }
    footer{
        background-color:  hsl(216, 53%, 9%);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        .det{
            display: flex;
            .location-icon{
                margin-top: 0px;
                padding-bottom: 10px;
                height: auto;
                object-fit: contain;
            }
        }

        .phone{
            display: flex;
            .phone-icon{
                object-fit: contain;
                padding-right: 10px;
            }
            
        }
        .email{
            display: flex;

            .email-icon{
                object-fit: contain;
                padding-right: 10px;
            }
        }
        .contact{
            padding-bottom: 20px;
            
        }
        .pages>li{
            font-family: 'Open-sans',sans-serif;
            list-style: none;
            padding-top: 10px;
        }

        .social{
            padding-top: 60px;
            color: white;
               display: flex;
               justify-content: center;
               
            size: 100%;
            div{
                margin-left: 30px;
            }
        }
    }

  }
 @media only screen and (min-width:769px)
 {
     body{
         margin: 0px;
     }
     nav{
        background-color: hsl(217, 28%, 15%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        padding: 30px;

        ul{
            li{
                display: inline;
                color:#fff;
                font-family: 'Raleway',sans-serif;
                font-size: 20px;
                padding-left: 16px;
            }

        }
     }

     .showcase-top{
         display: flex;
         flex-direction: column;
         background-color:hsl(217, 28%, 15%) ;
         padding-top: 30px;
       margin-left: 0px;
       margin-right: 0px;
         .back{
            
            
             justify-content: center;
             padding-left: 30px;
             padding-right: 30px;

             .illustration{
                 display: flex;
                 justify-content: center;
                 margin-bottom: 70px;
             }
                .heading-1{
                    text-align: center;
                    font-size: 3rem;
                    font-weight: 600;
                    font-family: 'Raleway',sans-serif;
                    padding-left: 25rem;
                    padding-right: 25rem;
                    color: #fff;
                    margin-bottom: 40px;
                    
                }
         }

         .dark{
            background-image: url("/images/bg-curvy-desktop.svg");
            background-size: 100%;
            background-repeat: no-repeat;
               background-position: top;
            // background-color: hsl(218, 28%, 13%);
            padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: center;
            // padding-left: 28rem;
            // padding-right: 28rem;
            .intro-text{
                margin-top: 0px;
                padding-top: 40px; 
                font-size: 1.3rem;
                opacity: 808;
                color: #fff;
                margin-left: 28rem;
                margin-right: 28rem;
                padding: 10px;
               padding-bottom: 8rem;
            }
            .btn-mid{
                width: 18%;
                padding-top: 20px;
                padding-bottom: 20px;
                border-radius: 30px;
                font-size: 20px;
                border: none;
    outline: none;
    background-color: hsl(198, 60%, 50%);
    color: white;
    cursor: pointer;
            }
            .flex-in{
                margin-top: 10rem;
                background-color:  hsl(218, 28%, 13%);
                display: grid;
                padding-left: 70px;
                padding-right: 70px;
                grid-template-columns: 2fr 2fr;
                justify-content: center;
                
                .p{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    img{
                        object-fit: contain;
                    }
                    .text-medium{
                        font-size: 20px;
                        padding-left: 10rem;
                        padding-right: 10rem;
                        text-align: center;
                        color: #fff;
                        font-family: 'Raleway',sans-serif;
                        opacity: 80%;
                    }
                    .text-bold{
                        font-weight: 700;
                        font-family: 'Raleway',sans-serif;
                        color: #fff;
                    }
                }
            }

         }
     }

     .showcase-mid{
         padding-top: 6rem;
         background-color:  hsl(218, 28%, 13%);
         .productive{
            display: flex;
            justify-content: space-between;   
            padding-right: 8rem;
            padding-left: 8rem; 
            .text{
                padding: 3rem;
                .text-large{
                    font-size: 3.6rem;
                    width: 70%;
                    color: #fff;
                    font-family: 'Raleway';
                    font-weight: 700;
                }
                .text-medium{
                    font-size: 22px;
                    color: #fff;
                    font-family: 'Raleway';
                    font-weight: 400;
                }
               
                    .go-button{
                        color: #fff;
                        display: flex;
                        border-bottom: #fff 1px solid;
                        margin-right: 33em;
                        
                        .go{
                            font-family: 'Raleway';
                            padding-right: 10px;
                            color: hsl(176, 68%, 64%);
                            
                        }
                        img{
                            object-fit: contain;
                            
                           
                        }
                    }
                
         }
     }

     .testemonials{
         .quote{
             padding-left: 8.1rem;
             padding-bottom: 0px;
         }
         .testemonial-cards{
             display: flex;
             margin-left: 8rem;
                margin-right: 8rem;
                font-family: 'Open-sans',sans-serif;
                font-size: 18px;
                padding-bottom: 4rem;
                color: #fff;
                .card{
                    background-color:  hsl(219, 30%, 18%);
                padding: 16px;
                border-radius: 8px;
                margin: 20px;

                }

                .avatar{
                    display: flex;
                    img{
                        margin-top: 15px;
                        margin-right: 8px;
                        vertical-align: middle;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                    .des{
                        .name{
                            padding-top: 10px;
                            margin-bottom: 0px;
                        }
                        .post{
                            margin-top: 0px;
                            padding-top: 0px;
                            font-size: 10px;
                            font-weight: 400;
                        }
                    }
                }
         }
         
     }
     .large-card{
         text-align: center;
         background-color:  hsl(217, 28%, 15%);
         margin-top: 10px;
         padding-top: 30px;
         margin-left: 20rem;
         margin-right: 20rem;
         font-family: 'Raleway';
         margin-bottom: 0px;
         border-top-right-radius: 8px;
         border-top-left-radius: 8px;
         .text-large{
             font-size: 3rem;
             
             font-weight: 700;
             color: #fff;
         }
         .text-medium{
             color: #fff;
             font-size: 20px;
             padding-left: 70px;
             padding-right: 70px;
             margin-bottom: 0px;
         }
     }
   
     
 }
 .d{
     margin-top: 0px;
     background-color: hsl(216, 53%, 9%);
    //  padding-top: 10rem;
    padding-bottom: 10rem;
     .inputs{
         margin-left: 20rem;
         margin-right: 20rem;
         background-color: hsl(217, 28%, 15%);
         display: flex;
         padding-top: 20px;
         margin-top: 0px;
         justify-content: center;
         padding-bottom: 20px;
         border-bottom-left-radius: 8px;
         border-bottom-right-radius: 8px;
         
         .email{
            font-size: 1rem;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 12rem;
            outline: none;
            border: none;
            border-radius: 20px;
            margin-right: 10px;
         }
         .btn{
            margin-right: 12rem;
            padding-left: 10px;
            padding-right: 10px;
            background-color: hsl(176, 68%, 64%);
            outline: none;
            border: none;
            border-radius: 20px;
            cursor: pointer;
         }
     }
 }

 footer{
     background-color:hsl(216, 53%, 9%) ;
     padding-left: 4rem;
     padding-right: 4rem;
     display: grid;
     grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
    font-family: 'Raleway',sans-serif;

     .location{
        
        .det{
            display: flex;
           
            .location-icon{
                // object-fit: contain;
                margin-top: 0px;
                padding-bottom: 10px;
                height: auto;
                object-fit: contain;
            }
            p{
                padding-left: 10px;
                color: #fff;
            }
        }
     }

     .contact{
         padding-left: 20px;
        padding-top: 60px;
         div{
             
             display: flex;
             color: #fff;
             img{
                 object-fit: contain;
                 padding-right: 10px;
             }
         }
     }

     .pages{
         list-style: none;
         color: #fff;
         padding-top: 60px;

         li{
             padding-top: 5px;
         }
     }

     .social{
         padding-top: 60px;
         color: white;
            display: flex;
            justify-content: center;
            
         size: 100%;
         div{
             margin-left: 30px;
         }
     }
 }
}